<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
return [
    'db'             => [
        'dsn'      => 'mysql:dbname=passwords;host=localhost',
        'username' => '',
        'password' => '',
    ],
    'session_config' => [
        'name'            => 'sessid',
        'cookie_httponly' => true,
        'cookie_secure'   => true,
    ],
    'application'    => [
        'enc_key_cookie' => [
            'name'     => 'encKey',
            'lifetime' => 1209600, // 2 weeks
            'secure'   => true,
        ],
        'registration'   => [
            'enabled' => true,
        ],
        'authentication' => [
            'maxfailures' => 5,
            'blocktime'   => 60 * 60 * 24,
        ],
    ],
];
